body{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
header{
    position:absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color:  rgba(169, 164, 102, 0.82);
    width: 100%;
    box-sizing: border-box;
}
.logo{
    color: black;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    text-decoration: none;
}
header nav{
    float: right;
}
._lista_nav{
    margin: 0;
    padding: 0;
    display: flex;
}
._nav_item{
    list-style: none;
}
._nav_item_select{
    background-color: rgba(169, 164, 102, 0.82);
    list-style: none;
    border: none;
    font-family: 'Acme', sans-serif;
    font-size: 1em;
}
._nav_texto{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: black;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
._nav_texto:hover{
    background-color: blue;
    text-decoration: none;
    color: white;
    background-size: 100% 2px;
    transition: .5s;
}
._menu_toggle{
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;

}
/*Footer*/
._footer{
    background-color: rgba(169, 164, 102, 0.82);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}
._texto_footer{
    height: 50px;
    line-height: 50px;
    font-size: 1em;
}
/*vista de bienvenida para usuarios no logueados*/
._seccion_bvnda{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
._caja_bvnda{
    background-color: rgba(169, 164, 102, 0.82);
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    text-align: center;
    margin-top: 3em;
}
._caja_dos_bvnda{
    display: flex;
    flex-direction: column;
    align-items: center;
}
._boton_bvnda_texto{
    color: black;
}
._boton_bvnda_texto:hover{
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    color: black;
}
/*Inicio para usuarios loguados*/
._seccion_home{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 5em;
}
._caja_home{
    background-color: rgba(169, 164, 102, 0.82);
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: black;
    text-align: center;
    margin-top: 3em;
}
._titulo_home{
    font-size: 2em;
}
._caja_categorias_home{
    display: flex;
    flex-direction: row;
}
._caja_categoria_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(133, 209, 151, 1);
    border-radius: 5px;
    margin-left: 1.8em;
    width: 32%;
    padding: 1em;
}
._caja_alerta_home{
    background-color:rgba(228, 226, 185, 1);
    border-radius: 3px;
    border-top: black solid;
    width: 80%;
}
._img_alerta{
    width: 100%;
}
._btn_home{
    font-family: 'Acme', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}
._btn_home:hover{
    color: white;
    background-color: green;
}
/*Login*/
._seccion_login{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 5em;
}
._caja_login{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
._titulo_login{
    text-align: center;
    color: white;
    font-size: 3em;
}
._form_login{
    background-color: rgba(169, 164, 102, 0.82);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 1em;
    border-radius: 2px;
}
._caja_campos_login{
    display: flex;
    flex-direction: column;
}
._error_login{
    color: red;
}
._texto_login{
    font-size: 1em;
}
._btn_login{
    color: black;
}
._inp_login:hover{
    border-color: green;
}
/*Crear alertas*/
._seccion_crear_alerta{
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 5em;
}
._caja_crear_alerta{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
._caja_btn_crear_alerta{
    margin-top: 3em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 164, 102, 0.82);
    width: 100%;
    align-items: center;
}
._texto_crear_alerta{
    text-align: center;
    color: white;

}
._btn_crear_alerta{
    width: 50%;
}
._btn_crear_alerta_texto{
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    color: white;
}
._btn_crear_alerta_texto:hover{
    text-decoration: none;
    color: white;
}
/*Formulario crear alerta*/
._seccion_form_alerta{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5em;
}
._form_alerta{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    background-color: rgba(169, 164, 102, 0.82);
    width: 40%;
    padding: 5px;
}
._caja_in_alerta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
._texto_form_alerta{
    display: flex;
    font-size: 1.3em;
}
._in_form_alerta{
    display: flex;
    width: 60%;
}
._caja_btn_form_alerta{
    display: flex;
    width: 100%;
    justify-content: center;
}
._btn_form_alerta{
    display: flex;
    width: 20%;
    margin-top: 2em;
}
/*Errores */
._lista_errores{
    list-style: none;
    text-align: center;
    margin-right: 1.8em;
}
._error{
    color: red;
    background-color: rgba(241, 95, 95, 0.7);
    border-radius: 5px;
    margin-top: 0.5em;
}
/* Nosotros */
._seccion_nosotros{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5em;
}
.slider{
    border-radius: 1em;
    width: 50%;
    margin: auto;
    overflow: hidden;
    height: auto;
    float: left;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}
._caja_texto_nosotros{
    float: right;
    background-color: rgba(170, 165, 100, 0.51);
    width: 50%;
    margin-bottom: 5em;
}
._texto_nosotros{
    color: black;
    line-height: 3em;
    margin: 1em;
}
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    30%{margin-left: -100%;}
    50%{margin-left: -100%;}

    60%{margin-left: -200%;}
    80%{margin-left: -200%;}

    90%{margin-left: -300%;}
    100%{margin-left: -300%;}

}

@media(max-width: 991px){
    header{
        padding: 0 5px;
    }
    .logo{
        margin-left: 1em;
    }
    ._menu_toggle{
        display: block;
        margin-right: 1em;
    }
    header nav{
      position: absolute;
      width: 100%;
      height: calc(100vh - 50px);
      background-color: rgba(170, 165, 100, 0.51);
      top: 50px;
      left: -100%;
      transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    ._lista_nav{
        display: block;
        text-align: center;
    }
    ._nav_texto{
        border-bottom: 1px solid black;   
    }
    /*Seccion home*/
    ._seccion_home{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: auto;
        margin-left: 1em;
    }
    ._caja_home{
        width: 90%;
        margin-left: -0.5em;
    }
    ._caja_categorias_home{
        flex-direction: column;
        align-items: center;
    }
    ._caja_categoria_home{
        display: flex;
        flex-direction: column;
        border-top:black solid;
        align-items: center;
        border-radius: 5px;
        margin-right: 2em;
        width: 90% ;
        padding: 1em;
        
    }
    /*Login*/
    ._form_login{
        width: 90%;
        background-color: unset;
    }
    /*Crear alerta*/
    ._caja_crear_alerta{
        flex-direction: column;
    }
    /*Formulario para crear alerta*/
    ._form_alerta{
        width: 80%;
    }
    ._texto_form_alerta{
        font-size: 1em;
        text-align: center;
    }
    ._in_form_alerta{
        display: flex;
        width: 70%;
    }
    ._in_form_alerta_file{
        font-size: 0.8em;
    }
    ._btn_form_alerta{
        display: flex;
        width: 40%;
        margin-top: 2em;
        justify-content: center;
    }
    /* Nosotros */
    .slider{
        width: 100%;
    }
    ._caja_texto_nosotros{
        width: 100%;
    }
    
}